<!DOCTYPE html>
{% load material_form %}
{% load staticfiles %}
<html>
<head>

	<title>Add Event</title>


	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}">

	<style type="text/css">
		.brand-logo
		{
			margin: 15px 40px;
		}

		.container
		{
			margin: 5rem 10rem !important;
		}


	</style>
</head>
<body>

	<nav>
		<div class="nav-wrapper">
			<a href="/admin" class="brand-logo">Admin</a>
			
		</div>
	</nav>
	<div class="container">	
		<form method="POST" action=""  enctype="multipart/form-data">


			<div>
				<label>Name of Event</label>
				<input id="id_name_of_event" maxlength="200" name="name_of_event" type="text" />
				{{ form.name_of_event.errors }} 
			</div>
			<div>
				<label>Hosted By</label>
				<input id="id_hosted_by" maxlength="100" name="hosted_by" type="text" />
			</div>
			<div>
				<label>Description</label>
				<textarea cols="40" id="id_description" name="description" rows="10">
				</textarea>
			</div>
			<div>
				<label>Location</label>
				<input id="id_location" maxlength="100" name="location" type="text" />
			</div>
			<div>
				<label>Start Date</label>

			</div>
			<div>
				<label>End Date</label>

			</div>
			<div>
				<label>Image</label>
				<input id="id_event_image" name="event_image" type="file" />
			</div>
			<div>
				<label>Public URL</label>
				<input id="id_public_url" maxlength="500" name="public_url" type="url" />
			</div>

			<a href="/admin"><input type="submit" value="Save" class="btn btn-submit" /></a>

		</form>
	</div>

</body>
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}
</html>