<!DOCTYPE html>
{% load material_form %}
{% load staticfiles %}
<html>
<head>

	<title>Add Founder</title>

	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/css/addfounder.css' %}">
		
	<script type="text/javascript">
		function change(e){
			console.log($('#'+e).children());
			$('#'+e).children()[1].focus();
			
		}
	</script>
</head>

<body>
	
	<nav>
		<div class="nav-wrapper">
			<a href="/admin" class="brand-logo">Admin</a>

		</div>
	</nav>

	<div class="container">	
		<form  enctype="multipart/form-data" method="POST" action="">
			{% csrf_token %}
			
			<div id="firsName" class=" row form-element" onmouseover="change(id)">
				<label id="label_first_name">First Name</label>
				{{form.first_name}}
			</div>
			<div id="lastName" class="form-element" onmouseover="change(id)">
				<label>Last Name</label>
				{{form.last_name}}
			</div>
			<div id="email" class="form-element" onmouseover="change(id)">
				<label>Email</label>
				{{form.email}}
			</div>
			<div id="image" class="row form-element" onmouseover="change(id)">
				<label>Image</label>
				{{form.image}}
			</div>
			<div id="linkedin" class="row form-element" onmouseover="change(id)">
				<label>Linkedin Url</label>
				{{form.linkedin_url}}
			</div>
			<div id="facebook" class="row form-element" onmouseover="change(id)">
				<label>Facebook Url</label>
				{{form.facebook_url}}
			</div>
			<div id="twitter" class="row form-element" onmouseover="change(id)">
				<label>Twitter Handle</label>
				{{form.twitter_handle}}
			</div>
			<div class="row form-element" onmouseover="change(id)">
			<input type="submit" value="Save " class="btn right submit "  id="save"  />
			</div>	
			<input type="submit" value="Add Another Founder " class="btn right submit"  id="add" />
		</form>
	</div> 

</body>
<script type="text/javascript">
	$(function(){
		

		$(':checkbox').change(function() {

			if ($('#id_add_another_founder').is(':checked')) {
				$('#add').show();
				$('#save').hide();
			}
			else {
				$('#add').hide();
				$('#save').show();
			}



		});



	});
</script>



</html>