<!DOCTYPE html>
{% load material_form %}
{% load staticfiles %}
<html>
<head>

	<title>Add Startup</title>


	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}">

	<style type="text/css">
		.brand-logo
		{
			margin: 15px 40px;
		}

		.container
		{
			margin: 5rem 10rem !important;
		}


	</style>
</head>
<body>

	<nav>
		<div class="nav-wrapper">
			<a href="/admin" class="brand-logo">Admin</a>
			
		</div>
	</nav>
	<div class="container">	
		<form method="POST" action=""  enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p}}

			<a href="/adminpanel/startups/add/founders"><input type="submit" value="Save and Proceed" class="btn right" /></a>

		</form>
	</div>

</body>
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}
</html>