
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title> Startup requests</title>

	<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/css/startuprequest.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>

	<div id="container">

		<div class="row">

			<div class="col-md-5 startups" id="approved" >
				<h2>
					Approved
				</h2>
				<div id="approved">

					{% for startup in approved_startups %}
					<span class="span-text">
						<a href="/adminpanel/startups/{{startup.name_of_startup}}"> {{startup.name_of_startup}}</a><br>
					</span>
					{% endfor %}

				</div>

			</div>

			<div class="col-md-5 startups"  id="pending">
				<h2>
					Pending
				</h2>
				<div id="pending">

					{% for startup in pending_startups %}
					<span class="span-text">
						<a href="adminpanel/startups/{{startup.name_of_startup}}"> {{startup.name_of_startup}}</a><br>
					</span>
					{% endfor %}
					
				</div>

			</div>
		</div>

	</div>
</body>


</html>