<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Founder|Admin</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}">
	<style>
		#sortable1, #sortable2 {
			border: 1px solid #eee;
			min-width: 49%;
			height: 500px;
			list-style-type: none;
			margin: 3px;
			padding: 5px;
			float: left;
			overflow:scroll;
		}
		#sortable1 li, #sortable2 li {
			margin: 5px 5px 5px 5px;
			padding: 5px;
			font-size: 1.2em;
			min-width: 200px;
			border-radius: 7px;
		}
		#location{
			font-size:0.7em;
			margin-left: 75%;
		}
		.list-column{
			height: 550px
			padding: 10px;
		}
	</style>
	<script>
		$(function() {
			$( "#sortable1, #sortable2" ).sortable({
				connectWith: ".connectedSortable"
			}).disableSelection();
		});

	</script>
</head>
<body class="container grey lighten-3">
	<h1 class="flow-text center">
		STARTUP RANKING LIST
	</h1>
	<a href="/admin">Home</a>
	<div>
		<p>
			To publish Rank List/Trending Startups:
		</p>
		<ol>
			<li>
				Drag and drop Startups from the Left into the right box to set trending and ranks.
			</li>
			<li>
				Re-arrange the dropped startups on the right to set an ascending order of ranks. 
			</li>
			<li>
				To unpublish a previously ranked startup drag it from the right box into the left box.
			</li>
			<li>
				Click the "Publish" button to publish ranks.
			</li>
		</ol>
	</div>
	<div class="row list-column">	
		<ul id="sortable1" class="connectedSortable white z-depth-1">
			{% for s in u_startups %}
			<li class="grey lighten-4">
				<p id = "{{s.name_of_startup}}" class="bold">
					{{ s.name_of_startup }}
					<span class="condensed light right">{{s.location}}</span>
				</p>
			</li>
			{% endfor %}
		</ul>
		<ul id="sortable2" class="connectedSortable white z-depth-1">
			{% for s in r_startups %}
			<li class="grey lighten-4">
				<p id = "{{s.name_of_startup}}" class="Para">
					{{ s.name_of_startup }}
					<span class="condensed light right">{{s.location}}</span>
				</p>
			</li>
			{% endfor %}
		</ul>
	</div>
	<button id="publish" class="btn waves-effect right col s2 m2 l2">Publish</button>
</body>


<script type="text/javascript">
	//AJAX call for publishing.
	
	$("#publish").click(function(){

		var publish = [];

  		//New Startups which are going to be ranked.
  		var children = $("#sortable2").children();
  		for(var i = 0 ; i < children.length ; i++)
  		{
  			var para = "";
  			para = children[i];
  			publish[i] = $(para).find('p').attr("id");
  		}

  		var queryset = { 'publish_array' : publish};

  		$.ajax({
  			traditional : true,
  			async 		: true,
  			type 	 	: 'POST',
  			url 		: '/adminpanel/rank_list/',
  			datatype 	: 'json',
  			data 		: queryset,
  			success 	: function(){
  				alert("The rank list has been Published!");
  			},
  			error 	: function(response){
  				alert("An Error Occurred. Please report this.");
  			},	
  		});
  	});
  </script>
  </html>