<!DOCTYPE html>
<html>
<head>
	<title> {{startup.name_of_startup}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">


			<h2>
				Startup
			</h2>
			<div id="startup">
				
				<span class="startup_name">
					<span>
						Name :
						<span>
							{{startup.name_of_startup}} <br>
						</span>
					</span>	
				</span>

				<span class="trade">

					<span>
						Trade :
					</span>
					<span>
						{{startup.type_of_trade}} <br>
					</span>
				</span>

				<span class="description">
					<span>
						Description :
					</span>
					<span>
						{{startup.description}}<br>
					</span>
				</span>
				
				<span class="location">
					<span>
						Location :
					</span>
					<span>
						{{startup.location}}<br>
					</span>
				</span>

				<span class="team_size">
					<span>
						TeamSize :
					</span>
					<span>{{startup.team_size}}<br>
					</span>
				</span>
			</div>


			<h2>
				Founders
			</h2>
			<div id="founders">

				{% for user in users %}

					<span class="name">
						<span>
							Name :
						</span>
						<span>
							{{user.first_name}} {{user.last_name}}<br>
						</span>
					</span>
					
					<span class="email">
						<span>
							Email :
						</span>
						<span>
							{{user.email}}<br>
						</span>
					</span>

					<span class="about">
						<span>
							About:
						</span>
						<span>
						{{user.about}}<br>
						</span>
					</span>

					<span class="designation">
					<span>
						Designation
					</span>
					<span>
						{{user.designation}}<br>
					</span>
					</span>
			</div>
			{% endfor %}
			
		</div>
		{% if startup.approval_status == "Pending" %}
		
		<br>
		<br>
		<a href="/adminpanel/startups/approve/{{startup.name_of_startup}}">
			<button type="button" class="btn btn-default">
				Approve 
			</button>
		</a>
		{% endif %}

	</div>
	
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
	
</script>
</html>