<!DOCTYPE html>
{% load material_form %}
{% load staticfiles %}
<html>
<head>

	<title>Add Startup</title>

	<meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{%static 'startups/css/addstartup.css' %}">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
		


		function exchange(e){
			$('#'+e).children()[1].children[0].focus();
			
		}
		$(function(){
			$('#id_company_tagline').keyup(function(){

				var temp = $('#id_company_tagline').val();
				var temp = temp.split(' ');
				if (temp.length>5)
				{
					$('#tagline_error').show();

					setTimeout(function(){
						$('#id_company_tagline').focus();},1000);
				}
				if (temp.length<=5){
					$('#tagline_error').hide();
				}
			});
		});

		$(function(){


			$(':checkbox').change(function() {

				if ($('#id_add_another_founder').is(':checked')) {
					$('#add').show();
					$('#save').hide();
				}
				else {
					$('#add').hide();
					$('#save').show();
				}
			});

		});
	</script>
</head>

<body>
	
	
	<div class="container">	
		<nav class="navbar navbar-default">

			<div class="navbar-header">
				<span class="navbar-brand">
					Founders
				</span>
			</div>
		</nav>
		<div class="form">
			<form  enctype="multipart/form-data" method="POST" action="">
				{% csrf_token %}

				

				<div id="name_of_startup" class=" row form-element" onmouseover="exchange(id)">
					<label id="label_name_of_startup"> Name of Startup</label>
					<div class="input"  >
						<input type="text"  id="id_name_of_startup" name="name_of_startup" tabindex="1">
						<div class="errors">
							{{form.name_of_startup.errors}}
						</div>
					</div>
				</div>
				<div id="background_startup_image" class="row form-element" onmouseover="exchange(id)">
					<label>Background Startup Image</label>
					<div>
						<input id="id_background_startup_image"  class="filestyle" data-classButton="btn btn-default" name="background_startup_image" type="file">
						<div class="errors">
							{{form.background_startup_image.errors}}
						</div>
					</div>
				</div>
				<div id="startup_logo" class="row form-element" onmouseover="exchange(id)">
					<label>Startup Logo</label>
					<div>
						<input id="id_startup_logo"  class="filestyle" data-classButton="btn btn-default" name="startup_logo" type="file">
						<div class="errors">
							{{form.startup_logo.errors}}
						</div>
					</div>
				</div>
				
				<div id="company_website" class="row form-element" onmouseover="exchange(id)">
					<label>Company Website</label>
					<div  class="input">
						<input type = "url" id="id_company_website" name="company_website">
						<div class="errors">
							{{form.company_website.errors}}
						</div>
					</div>
				</div>
				<div id="linkedin" class="row form-element" onmouseover="exchange(id)">
					<label>Linkedin Url</label>
					<div  class="input">
						<input type="url" id="id_linkedin_url" name="linkedin_url" />
						<div class="errors">
							{{form.linkedin_url.errors}}
						</div>
					</div>
				</div>
				<div id="facebook" class="row form-element" onmouseover="exchange(id)">
					<label>Facebook Url</label>
					<div  class="input">
						<input type = "url" id="id_facebook_url" name="facebook_url">
						<div class="errors">
							{{form.facebook_url.errors}}
						</div>
					</div>
				</div>
				
				<div id="twitter" class="row form-element" onmouseover="exchange(id)">
					<label>Twitter Handle</label>
					<div class="input">
						<input type="url" id="id_twitter_handle" name="twitter_handle">
						<div class="errors">
							{{form.twitter_handle.errors}}
						</div>
					</div>
				</div>
				<div id="description" class="row form-element"  onmouseover="exchange(id)">
					<label>Description</label>
					<div class="input">
						<textarea rows="4"  cols="60" id="id_description" name="description"></textarea>
						<div class="errors">
							{{form.description.errors}}
						</div>
					</div>	
				</div>

				<div id="location" class="row form-element" onmouseover="exchange(id)">
					<label>Location</label>
					<div class="input">
						<input type="text" name="location" id="id_location">
						<div class="errors">
							{{form.location.errors}}
						</div>
					</div>
				</div>

				<div id="inc_year" class="row form-element" onmouseover="exchange(id)">
					<label>Inc Year</label>
					<div class="input">
						<input type="text" name="inc_year" id="id_inc_year">
						<div class="errors">
							{{form.inc_year.errors}}
						</div>
					</div>
				</div>
				<div id="team_size" class="row form-element" onmouseover="exchange(id)">
					<label>Team Size</label>
					<div class="input">
						<input type="text" name="team_size" id="id_team_size">
						<div class="errors">
							{{form.team_size.errors}}
						</div>
					</div>
				</div>
				<div id="type_of_trade" class="row form-element" onmouseover="exchange(id)">
					
					<label>Type of Trade</label>
					<div>
						{{form.type_of_trade}}
						{{form.type_of_trade.errors}}
					</div>

				</div>
				<div id="company_tagline" class="row form-element" onmouseover="exchange(id)">
					<label>Company Tgaline</label>
					<div class="input">
						<input type="text" name="company_tagline" id="id_company_tagline">
						<div  id="tagline_error">
							your tagline is greater than five
						</div>
						<div class="errors">
							{{form.tagline.errors}}
						</div>
					</div>
				</div>

				<div class="row form-element" >
					<input type="submit" value="Save " class="btn btn-submit"  id="save"  />
				</div>	
				
			</form>
		</div>
		
	</div> 

</body>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>