.brand-logo
{
	margin: 15px 40px;
	padding-bottom: 20px;
}

.submit
{
	margin: 10px;

}

#add
{
	display: none;
}

.container
{
	margin: 5rem 10rem !important;
}


label
{
	color:inherit;
	font-size: 1.8rem !important;
}


.form-element input
{	
	border: 0 !important;
}
.form-element 
{
	margin:0 auto 0 auto;
	color: grey !important;


}
.form-element:hover
{
	color: black !important;
}

.form-element input:focus{
	border-bottom: 2px solid black;
}